@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

/*Recipe Search Input Styling*/

.recipes {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/*Filter Styling*/
.filter-list {
    display: flex;
    list-style: none;
    text-align: left;
    font-size: 18px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    background-color: rgb(38, 170, 21, 0.6);
    max-width: 450px; 
}

.recipe-input{
    padding: 8px 17px;
    min-width: 200px;
    max-width: 100vw;
    font-size: 16px;
    border-radius: 5px;
}



/*        Desktop mode    media query       */
@media screen and (min-width: 760px) {
    #recipe-search {
        display: flex;
        justify-content: center;
        place-items: center;
        width: 100%;
        margin: 0px 20px 20px 20px;
    }
}

/*       Style for Recipe component         */

.recipe-info-component {
    margin-top: -150px;
    min-width: 100vw; 
    width: auto;
    min-height: 100vh;
    height: auto;
    background-color: white;
    color: black;
}


