@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap'); /*  ???  */

 /* CSS for the navbar displayed at the bottom of all the pages */
.footer {
    margin:0;
    padding:0;
    display: flex;
    justify-content:space-around;
    list-style: none;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  .logo {
    display: flex;
    width: 100px;
    margin: 0;
    position: left;
    line-height:none;
    }
