@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

/*          Recipe Card style  -- general   */

.recipe-card {
    width: 90%;
    min-width: 320px;
    max-width: 510px;
    height: auto;
    min-height: 180px;
    border-radius: 2.5px;
    color: white;
    margin: 20px;
    text-align: center;
}


/*       To adjust cards inner layout        */

.recipe-section { 
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.recipe-body-section {
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.recipe-short-info {
    align-self: flex-end;
    margin: 5px;
    text-align: left;
    
}

.recipe-header {
    margin: 2px;
    text-decoration: none;
}

.recipe-total-time {
    margin: 2px;
}


/*           Favorite button                 */

.isFavorite {
    width: 40px;
    height: 40px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/35/Emoji_u2665.svg");
    background-size: 100%;
    align-self: flex-start;
}

.notFavorite {
    width: 40px;
    height: 40px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/4f/Ei-heart.svg");
    background-size: 100%;
    align-self: flex-start;
}


/*        Desktop mode    media query       */

@media screen and (min-width: 860px) {
    .recipe-section {
        display: flex;
        
    }
}