@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.recipe-info-component {
    width: auto;
    height: auto;
    background-color: white;
    color: black;
    padding: 5px;
    background-color: rgb(38, 170, 21);
}


